<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Get In Touch 🤙🏻</h2>

  <div class="spacer-60"></div>

  <div class="row">

      <!-- contact info -->
      <div class="contact-info">
        <h3 class="wow fadeInUp">Let's talk about everything!</h3>
        <p class="wow fadeInUp">Send me an email to my <a href="mailto:davide.gena@hotmail.com">personal email</a> 🙋🏻 or my <a href="mailto:gnedvd98l16h579u@studenti.unical.it">institutional email</a> 🎓</p>
      </div>

  </div>

</div>
