<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Recent works</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/multicloud-netmaker-k8s">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/multicloud-netmaker-k8s">
            <img src="assets/images/blog/ANWFNMpreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/multicloud-netmaker-k8s">A new way for Networking Multicloud</a></h4>
          <p style="line-height: 1.3">Research thesis on the application of Mesh VPNs for multicloud networking.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2023</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/Flow.Launcher.Plugin.DeepFlow">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/Flow.Launcher.Plugin.DeepFlow">
            <img src="assets/images/blog/DeepLPluginPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/Flow.Launcher.Plugin.DeepFlow">DeepFlow</a></h4>
          <p style="line-height: 1.3">DeepL Plugin to quickly translate with FlowLauncher.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">May, 2023</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/ISellYouABrick_CTF">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/ISellYouABrick_CTF">
            <img src="assets/images/blog/ISellYouABrickCTFPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/ISellYouABrick_CTF">ISellYouABrick</a></h4>
          <p style="line-height: 1.3">A medium/hard boot2root CTF.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">December, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/CTFs_Scripts">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/CTFs_Scripts">
            <img src="assets/images/blog/AutomizedPathTraversalScriptPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/CTFs_Scripts">Automized Path Traversal Resolver</a></h4>
          <p style="line-height: 1.3">A typer/rich python script to solve all path traversal CTFs of PortSwigger.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/SteamDataWarehouse">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/SteamDataWarehouse">
            <img src="assets/images/blog/SteamDWPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/SteamDataWarehouse">Steam Data Warehouse</a></h4>
          <p style="line-height: 1.3">Data warehouse applied to the Steam store database to analyze the trends of categories and genres over months and years. Software used: Pentaho and Tableau.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/AuthCodeStealer">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/AuthCodeStealer">
            <img src="assets/images/blog/CuteKittensPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/AuthCodeStealer">CuteKittens</a></h4>
          <p style="line-height: 1.3">A "cute" malware extension that steals OAuth2.0 protocol authorization codes.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/InstaLeetx">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/InstaLeetx">
            <img src="assets/images/blog/InstaLeetxPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/InstaLeetx">InstaLeetx</a></h4>
          <p style="line-height: 1.3">A script to automate the download of video contents in Italian from 1337x.to.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">May, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/COVIDPreventionSystem">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/COVIDPreventionSystem">
            <img src="assets/images/blog/CovidPrevSysPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/COVIDPreventionSystem">COVIDPreventionSystem</a></h4>
          <p style="line-height: 1.3">Computer vision applied to COVID prevention techniques.</p>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">February, 2021</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
