<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Recent works</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/COVIDPreventionSystem">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/COVIDPreventionSystem">
            <img src="assets/images/blog/CovidPrevSysPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/COVIDPreventionSystem">COVIDPreventionSystem - computer vision applied to COVID prevention techniques</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">February, 2021</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/InstaLeetx">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/InstaLeetx">
            <img src="assets/images/blog/InstaLeetxPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/InstaLeetx">InstaLeetx - A script to automate the download of video content in Italian from 1337x.to.</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">May, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/AuthCodeStealer">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/AuthCodeStealer">
            <img src="assets/images/blog/CuteKittensPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/AuthCodeStealer">CuteKittens - A "cute" malware extension that steals OAuth2.0 protocol authorization codes.</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2022</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://github.com/DavidG33k/SteamDataWarehouse">
            <span class="category">Open in <i class="fab fa-github"></i></span>
          </a>
          <a href="https://github.com/DavidG33k/SteamDataWarehouse">
            <img src="assets/images/blog/SteamDWPreview.png" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://github.com/DavidG33k/SteamDataWarehouse">Steam Data Warehouse - Data warehouse applied to the Steam store database to analyze the trends of categories and genres over months and years. Software used: Pentaho and Tableau.</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">August, 2022</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
