<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Incoming works ✍🏻</h2>
  
    <div class="spacer-60"></div>
  
    <div class="row blog-wrapper">
  
      <div class="col-md-4">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
              <img src="assets/images/incoming-blog/SecurePassGenPreview.png" alt="blog-title" />
          </div>
          <div class="details">
            <h4 class="my-0 title">SecurePassGen - A browser extension to generate secure and unpwned/unleaked passwords, based on user preferences.</h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Goals: Learn how to implement browser extensions with graphic interface.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
              <img src="assets/images/incoming-blog/CreedaPreview.png" alt="blog-title" />
          </div>
          <div class="details">
            <h4 class="my-0 title">Creeda - A browser extension to generate random temporary credentials with a valid email address, an unleaked password and a random username.</h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Goals: Implement an extension that allow us to register on websites we don't trust, without using our real credentials.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
              <img src="assets/images/incoming-blog/SpookieStealerPreview.png" alt="blog-title" />
          </div>
          <div class="details">
            <h4 class="my-0 title">SpookieStealer - An autorun script to steal victims cookies on Windows OS.</h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Gaols: Improve the penetration skills of the Windows OS.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
              <img src="assets/images/incoming-blog/DeepLPluginPreview.png" alt="blog-title" />
          </div>
          <div class="details">
            <h4 class="my-0 title">DeepFlow - DeepL plugin for FLow Launcher.</h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Gaols: I simply need it xD</li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  